@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

:root {
    /* Primary colors */
    --softBluePrimary: hsl(215, 51%, 70%);
    --cyanPrimary: hsl(178, 100%, 50%);
    --whiteColor: hsl(0, 0%, 100%);

}




.card {
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    border-radius: 10px;
    color: var(--whiteColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px 10px 10px hsl(215, 41%, 8%);
    ;
}

.container-effect:hover .view {
    z-index: 2;
    cursor: pointer;
}


.card .view {

    width: 320px;
    height: 320px;
    background-color: hsl(178deg 100% 50% / 56%);
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.card .view .view-icon {
    z-index: 3;
    opacity: 1;
    position: absolute;
}

.card .nft-img {
    width: 320px;
    margin: 20px 20px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}



.card .info {
    padding: 0 14px;
}

.card .info h1 {
    font-size: 21px;

    font-weight: 600;
}

.card .info h1:hover {
    color: var(--cyanPrimary);

    cursor: pointer;
}

.card .info p {
    color: var(--softBluePrimary);
    font-size: 18px;
    font-weight: 300;
}




.card .info-sell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .info-sell p {
    display: flex;
    align-items: center;
}

.card .info-sell strong {
    color: var(--cyanPrimary);
    display: flex;
    align-items: center;
}

.card .info-sell img {
    margin-right: 5px;
}

.bar {
    width: 100%;
    height: 1px;
    background-color: hsl(215, 32%, 27%);
}


.card .info-about-seller {
    margin: 20px 0 30px;
    display: flex;
    align-items: center;
    color: var(--softBluePrimary)
}

.card .info-about-seller img {
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--whiteColor);
    margin-right: 10px;

}

.card .info-about-seller span {
    color: var(--whiteColor);
    font-weight: 300;
    display: block;
    padding-left: 5px;
}

.card .info-about-seller span:hover {
    color: var(--cyanPrimary);

    cursor: pointer;
}